* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f4f6f8;
    color: #333;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background: #1e1e2f;
    position: sticky;
    top: 0;
}

.logo {
    color: #fff;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color: #ff9800;
}

/* HOME */
.home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1e1e2f, #3f3f6b);
    color: white;
    text-align: center;
}

.home span {
    color: #ff9800;
}

.home button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: #fee2b9;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.home button:hover {
    background: #e68900;
}

/* SECTIONS */
section {
    padding: 60px 10%;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
}

/* SKILLS */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    background: white;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* PROJECTS */
.project-card {
    background: white;
    margin: 15px auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
    background: #1e1e2f;
    color: white;
    text-align: center;
    padding: 15px;
}
